@use "../../../theme";
@use "src/styles" as s;
@use 'sass:map';

#hero {
  height: 100vh;
  padding-left: theme.$padding;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;

  h1 {
    margin-top: 20vh;
    font-size: 45px;
    line-height:70px;

    span {
      background: theme.$gradient;
      background-clip: text;
      color: transparent;
    }
  }

  p {
    font-size: 18px;
    color: theme.$desc-color;
  }

  a {
    display: block;
    margin-top: 40px;
    height: 60px;
    width: 150px;
    background: theme.$gradient;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;

    box-shadow: 0 0 40px -5px theme.$primary;
  }

  &.mobile {
    padding-left: theme.$padding-small;

    h1 {
      margin-top: 10vh;
      font-size: 30px;
      line-height: 50px;
    }

    p {
      font-size: 15px;
      margin-right: 20px;
    }

    .artwork > .small-circle, .artwork > .image {
      display: none;
    }
  }
}

#projects {
  #projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-evenly;
    gap: 70px;

    app-project {
      width: 400px;
      opacity: 0;
    }

    &.in-view app-project {
      animation: fade-in 250ms forwards;
    }
  }

  &.mobile {
    #projects-wrapper {
      margin-top: 30px;
      gap: 30px;
    }
  }
}

#technologies {
  margin-top: 300px;
}

#about {
  margin-top: 150px;

  #timeline {
    display: flex;
    margin-top: 30px;

    .timestamp {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap: 50px;
      position: relative;
      opacity: 0;

      h2 {
        font-size: 20px;
        margin: 0;
        font-weight: normal;
      }

      span {
        box-sizing: border-box;
        color: theme.$desc-color;
        font-size: 14px;
        padding-right: 10px;
      }

      &:after {
        content: '';
        width: 15px;
        height: 15px;
        background: theme.$gradient-angled;
        border-radius: 50%;
        box-shadow: 0 3px 10px 0.5px rgba(theme.$primary, 0.4);

        position: absolute;
        top: 45px;
      }

      &:before {
        content: '';
        width: 0;
        height: 3px;
        background-color: #FFF;
        top: 51px;
        position: absolute;
      }

      &:last-of-type:before {
        display: none;
      }
    }

    &.in-view .timestamp {
      animation: fade-in 200ms forwards var(--delay) ease-out;

      &:before {
        animation: timestamp-in 500ms forwards var(--delay) ease-in-out;
      }
    }
  }

  &.mobile {
    #timeline {
      flex-direction: column-reverse;

      .timestamp {
        gap: 15px;
        padding-left: 30px;
        box-sizing: border-box;
        animation: none;
        opacity: 1;

        span {
          margin-bottom: 50px;
        }

        &:after {
          top: 5px;
          left: -5px;
        }

        &:before {
          top: 5px;
          left: 1px;
          width: 3px;
          height: 100%;
          animation: none;
        }

        &:last-of-type:before {
          display: block;
        }

        &:first-of-type:before {
          display: none;
        }
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 120px;
  user-select: unset;

  .footer-title {
    background: theme.$gradient;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    user-select: none;
  }

  a {
    text-decoration: none;
  }

  #social-media {
    display: flex;
    gap: 5px;
    user-select: none;

    .header-social > img {
      width: 25px;
      height: 25px;
    }
  }

  &.mobile {
    *:not(.footer-title) {
      display: none;
    }
  }
}

@keyframes timestamp-in {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
