@keyframes hover-text {
  from {
    opacity: var(--opa-1);
    transform: translateY(0);
  }

  to {
    opacity: var(--opa-2);
    transform: translateY(-20px);
  }
}

.button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;

  width: max-content;
  height: 40px;
  padding-inline: 15px;
  border: 1px solid #FFF;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px;
  overflow: hidden;

  .text-1 {
    --opa-2: 0;
    --opa-1: 1;
    margin-top: 12px;
  }

  .text-2 {
    --opa-2: 1;
    --opa-1: 0;
    opacity: 0;
  }

  &:hover {
    .text-1 {
      animation: hover-text 300ms forwards ease-out;
    }

    .text-2 {
      animation: hover-text 300ms forwards ease-out;
    }
  }
}
