<nav class="header">
  <img src="favicon.ico" alt="logo" class="logo" draggable="false">
  <span class="name">Leon Hoppe</span>

  <div id="header-links" *ngIf="!deviceService.isMobile()">
    <a class="header-link" *ngFor="let link of navLinks" [routerLink]="link.href"  [ngClass]="{'active': router.url == link.href}">{{link.label}}</a>
  </div>

  <div id="social-media" [ngStyle]="{'margin-left': deviceService.isMobile() ? 'auto' : ''}">
    <a class="header-social" target="_blank" *ngFor="let social of socialLinks" href="{{social.href}}">
      <img src="{{social.image}}" alt="{{social.href}}">
    </a>
  </div>
</nav>

<section id="content" [ngStyle]="{'height': deviceService.isMobile() ? 'calc(100% - 102px)' : 'calc(100% - 51px)'}">
  <ng-content></ng-content>
</section>

<nav *ngIf="deviceService.isMobile()" class="footer">
  <button mat-button class="footer-link" *ngFor="let link of navLinks" [routerLink]="link.href" [ngClass]="{'active': router.url == link.href}">
    <mat-icon>{{link.icon}}</mat-icon>
  </button>
</nav>
